input::placeholder {
  font-family: "Aleo", serif;
}

.button {
  font-family: "Red Hat Text", sans-serif;
}

.button {
  transition: 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-family: "Aleo", serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  /*font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;*/
}

h2 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  /*font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;*/
}

h3 {
  font-family: "Aleo", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  /*font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;*/
}

h4 {
  font-family: "Aleo", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  /*font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;*/
}

.button {
  padding: 10px 30px;
  background-color: #0D606F;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  cursor: pointer;
}

.button-promo {
  position: absolute;
  width: 228px;
  left: 910px;
  top: 418px;
  height: 59px;
}

.button__header {
  margin: 25px 120px 24px 0px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  padding: 0px 21px;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #FFFFFF;
}

.logo {
  padding: 26px 0px 34px 120px;
}

.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.header__promo{
    background-image: url("/img/backgrounds/background-header.png") ;
    background-image: no-repeat;
    padding: auto;
}
.travel__wrapper {
    width: 100%;
    max-width: 1440px;
    background: url('img\backgrounds\background-header.png') no-repeat top, url('img\backgrounds\background-footer.png') no-repeat bottom;
}*/
.header {
  background-position: center top;
  background-image: url("/img/backgrounds/background-header.png");
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: -65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.promo {
  height: 675px;
  background-position: center bottom;
  background-image: url("/img/backgrounds/background-header.png");
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 0px;
  color: #FFFFFF;
}

.header__color {
  height: 90px;
  background-color: #F2785C;
  opacity: 0.7;
  width: 100%;
  max-width: 1440px;
}

.promo__header {
  max-width: 892px;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.promo__p {
  padding-top: 30px;
}

.promo__input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  width: 892px;
  height: 95px;
  border: none;
}

input::placeholder {
  color: #F2785C;
  padding-left: 41px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: italic;
}

.header-tools {
  text-align: center;
  color: #F2785C;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
}

.icon__square {
  display: inline-block;
  margin: 130px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #F2785C;
}

/*# sourceMappingURL=style.css.map */
