@charset "UTF-8";
@import "../node_modules/normalize.css/normalize.css";
input::placeholder {
  font-family: "Aleo", serif;
}

.button {
  font-family: "Red Hat Text", sans-serif;
}

.button {
  transition: 0.3s ease-out;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

h1 {
  font-family: "Aleo", serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  /*font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;*/
}

h2 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  /*font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;*/
}

h3 {
  font-family: "Aleo", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  /*font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;*/
}

h4 {
  font-family: "Aleo", serif;
  color: #0D606F;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  /*font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;*/
}
@media (max-width: 390px) {
  h4 {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    padding-right: 60px;
  }
}

.footer-central-text {
  color: #FFFFFF;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding-left: 590px;
}
@media (max-width: 920px) {
  .footer-central-text {
    display: none;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1400px) {
  .footer-central-text {
    padding-left: 44%;
  }
}

.footer-style {
  background: url(/img/backgrounds/background-footer.png) center bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-social-media-icons {
  padding-left: 320px;
  padding-right: 120px;
  margin: auto;
}
@media (max-width: 920px) {
  .footer-social-media-icons {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.padding-footer-icons {
  padding: 5px 20px 0px;
}
@media only screen and (min-width: 921px) and (max-width: 1500px) {
  .padding-footer-icons {
    padding: 0px;
  }
}

.background-travelstories {
  background: url(/img/backgrounds/background-footer.png) center top;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
@media (max-width: 920px) {
  .background-travelstories {
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 920px) {
  .lastparagraph {
    margin-bottom: 0px;
  }
}

.button {
  padding: 10px 30px;
  background-color: #0D606F;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  cursor: pointer;
}

.button-promo {
  float: right;
  position: absolute;
  width: 228px;
  left: 910px;
  top: 418px;
  height: 59px;
}
@media (max-width: 920px) {
  .button-promo {
    width: 92px;
    height: 30px;
    margin-left: 70%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 7.5px 9px;
    left: 0px;
    top: 0px;
    margin-top: 40%;
    position: absolute;
  }
}
@media only screen and (min-width: 721px) and (max-width: 920px) {
  .button-promo {
    margin-left: 79%;
    margin-top: 34%;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1700px) {
  .button-promo {
    left: 670px;
  }
}

.button__header {
  margin: 25px 120px 24px 0px;
}

.button__central {
  width: 228px;
  height: 59px;
  background-color: #0D606F;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: auto;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: flex;
  /*flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;*/
}
@media (max-width: 390px) {
  .button__central {
    width: 92px;
    height: 30px;
    margin-left: 70%;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: auto;
    left: 0px;
    top: 0px;
  }
}

.logo-mobile {
  display: none;
  background-image: url("/img/vectors/logo-mobile.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
  right: 86.9%;
  top: 6.25%;
  bottom: 0%;
}
@media (max-width: 920px) {
  .logo-mobile {
    display: block;
  }
}

.burger-menu {
  display: none;
  background-image: url("/img/vectors/burger-menu.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  left: 86.9%;
  top: 6.25%;
  bottom: 0%;
}
@media (max-width: 920px) {
  .burger-menu {
    display: block;
  }
}

.ico {
  cursor: pointer;
  display: flex;
}

.ico_bike {
  width: 50px;
  height: 45px;
  background-image: url("/img/vectors/vector-bike.svg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
@media (max-width: 390px) {
  .ico_bike {
    background-image: url("/img/vectors/bike-small.svg");
    width: 35px;
    height: 31.5px;
  }
}

.ico_calendar {
  width: 52px;
  height: 52px;
  background-image: url("/img/vectors/vector-calendar.svg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
@media (max-width: 390px) {
  .ico_calendar {
    background-image: url("/img/vectors/calendar-small.svg");
    width: 35px;
    height: 35px;
  }
}

.ico_plane {
  width: 60px;
  height: 45px;
  background-image: url("/img/vectors/vector-plane.svg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
@media (max-width: 390px) {
  .ico_plane {
    width: 40px;
    height: 30px;
    background-image: url("/img/vectors/plane-small.svg");
  }
}

.arrow {
  padding-right: 10px;
}
@media (max-width: 390px) {
  .arrow {
    padding-right: 6px;
  }
}

.ellipses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 24px 0px 40px;
}
@media (max-width: 390px) {
  .ellipses {
    gap: 6px;
    padding: 0px 0px 22px;
    margin-top: -24px;
  }
}

.ellipse {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;
}
@media (max-width: 390px) {
  .ellipse {
    width: 8px;
    height: 8px;
    z-index: 1;
  }
}

div#text-upperpic {
  position: relative;
}

.destination-name {
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 40px;
  color: #FFFFFF;
}
@media (max-width: 390px) {
  .destination-name {
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 180px;
  }
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 920px) {
  .wrapper {
    padding: 0px 15px;
  }
}

#wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 920px) {
  #wrapper {
    padding: 0px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  padding: 0px 21px;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #FFFFFF;
}

.logo {
  padding: 26px 0px 34px 120px;
}

.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-2-column {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 1440px;
  background: rgba(255, 255, 255, 0.7);
}
@media (max-width: 390px) {
  .layout-2-column {
    max-width: none;
  }
}
@media only screen and (min-width: 391px) and (max-width: 920px) {
  .layout-2-column {
    display: block;
  }
}

.flex-photo {
  width: 35%;
}

.flex-text {
  width: 50%;
}

.opacity-07 {
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 40px;
}
@media (max-width: 920px) {
  .opacity-07 {
    padding-bottom: 13px;
    background: rgba(255, 255, 255, 0.7);
  }
}

/*.header__promo{
    background-image: url("/img/backgrounds/background-header.png") ;
    background-image: no-repeat;
    padding: auto;
}
.travel__wrapper {
    width: 100%;
    max-width: 1440px;
    background: url('img\backgrounds\background-header.png') no-repeat top, url('img\backgrounds\background-footer.png') no-repeat bottom;
}*/
.header {
  background-position: center top;
  background-image: url("/img/backgrounds/background-header.png");
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: -65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-sizing: border-box;
}
@media (max-width: 920px) {
  .header {
    display: none;
  }
}

.promo {
  height: 675px;
  background-position: center bottom;
  background-image: url("/img/backgrounds/background-header.png");
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 0px;
  color: #FFFFFF;
}
@media (max-width: 920px) {
  .promo {
    background-image: url("/img/backgrounds/bg-small-first.png");
    background-repeat: no-repeat;
    height: 250px;
    background-position: top;
    width: 100%;
    background-size: cover;
    margin: none;
  }
}
@media (max-width: 920px) {
  .promo {
    height: 350px;
  }
}

.header__color {
  height: 90px;
  background-color: #F2785C;
  opacity: 0.7;
  width: 100%;
  max-width: 1440px;
}

.promo__header {
  max-width: 892px;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
@media (max-width: 920px) {
  .promo__header {
    display: none;
  }
}

.promo__p {
  padding-top: 30px;
}
@media (max-width: 920px) {
  .promo__p {
    display: none;
  }
}

.promo__input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  width: 892px;
  height: 95px;
  border: none;
}
@media (max-width: 920px) {
  .promo__input {
    padding: auto;
    height: 48px;
    width: 96.3%;
    margin-top: 39%;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 721px) and (max-width: 920px) {
  .promo__input {
    margin-top: 33%;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1700px) {
  .promo__input {
    width: 792px;
  }
}

input::placeholder {
  color: #F2785C;
  padding-left: 41px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: italic;
}
@media (max-width: 920px) {
  input::placeholder {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    font-style: italic;
  }
}

.promo__wrapper {
  padding-left: 120px;
}
@media (max-width: 920px) {
  .promo__wrapper {
    padding-left: 0px;
  }
}

.opacity-2-column {
  background: rgba(255, 255, 255, 0.7);
}

.header-tools {
  text-align: center;
  color: #F2785C;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
}
@media (max-width: 920px) {
  .header-tools {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
  }
}

.tool {
  padding-left: 84px;
}
@media (max-width: 920px) {
  .tool {
    padding-left: 0px;
    margin-bottom: -10px;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1220px) {
  .tool {
    padding-left: 0px;
  }
}

.tool__icon {
  display: flex;
}
@media (max-width: 920px) {
  .tool__icon {
    justify-content: space-evenly;
  }
}

.icon__square {
  display: inline-flex;
  margin: 0px 130px;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #F2785C;
}
@media (max-width: 920px) {
  .icon__square {
    width: 70px;
    height: 70px;
    margin: 0px 75px 0px 0px;
  }
}

@media (max-width: 390px) {
  .icon__square > h4 {
    width: 100%;
  }
}

.text-steps {
  padding-left: 80px;
}
@media (max-width: 920px) {
  .text-steps {
    padding-left: 0px;
  }
}

.destinations {
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
  display: flex;
  max-width: 1440px;
}

.block-rounded {
  margin-left: 30px;
  padding-top: 30px;
}
@media (max-width: 390px) {
  .block-rounded {
    margin-left: 0px;
    padding-top: 0px;
  }
}

.destination-image {
  border-radius: 16px;
}
@media (max-width: 920px) {
  .destination-image {
    height: 210px;
    width: 360px;
  }
}

.destination-bg {
  background: url(img஬kgrounds஬kground-footer.png);
}

@media (max-width: 390px) {
  .travel-stories-img {
    width: 155px;
    height: 130px;
    padding-left: 15px;
  }
}

@media (max-width: 390px) {
  .travel-stories-content p {
    font-size: 9px;
    line-height: 11px;
    margin-left: 20px;
    padding-right: 15px;
  }
}

@media (max-width: 390px) {
  .travel-stories-content h3 {
    font-size: 11px;
    line-height: 13px;
    margin-left: 20px;
    margin-bottom: -5px;
  }
}

.travel-stories-content {
  color: #0D606F;
  opacity: 1;
}

@media (max-width: 390px) {
  img.arrow {
    width: 10px;
    height: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
