@charset "UTF-8";
input::placeholder {
  font-family: "Aleo", serif;
}

.button {
  font-family: "Red Hat Text", sans-serif;
}

.button {
  transition: 0.3s ease-out;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

h1 {
  font-family: "Aleo", serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  /*font-style: normal;
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;*/
}

h2 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  /*font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;*/
}

h3 {
  font-family: "Aleo", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  /*font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;*/
}

h4 {
  font-family: "Aleo", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  /*font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;*/
}

.footer-central-text {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.footer-style {
  background: url(/img/backgrounds/background-footer.png) center bottom;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  padding: 10px 30px;
  background-color: #0D606F;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  cursor: pointer;
}

.button-promo {
  position: absolute;
  width: 228px;
  left: 910px;
  top: 418px;
  height: 59px;
}

.button__header {
  margin: 25px 120px 24px 0px;
}

.button__central {
  width: 228px;
  height: 59px;
  background-color: #0D606F;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: auto;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  display: flex;
  /*flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;*/
}

.ico {
  cursor: pointer;
  display: flex;
}

.ico_bike {
  width: 50px;
  height: 45px;
  background-image: url("/img/vectors/vector-bike.svg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.ico_calendar {
  width: 52px;
  height: 52px;
  background-image: url("/img/vectors/vector-calendar.svg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.ico_plane {
  width: 60px;
  height: 45px;
  background-image: url("/img/vectors/vector-plane.svg");
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.arrow {
  padding-right: 10px;
}

.ellipses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 24px 0px 40px;
}

.ellipse {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 10px;
}

div#text-upperpic {
  position: relative;
}

.destination-name {
  position: absolute;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  padding: 0px 21px;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #FFFFFF;
}

.logo {
  padding: 26px 0px 34px 120px;
}

.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-2-column {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 1440px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}

/*.layout-2-column::after{
    content: "";
    //background-image: url(/img/backgrounds/background-footer.png);
   // background-size: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    opacity: 0.75;
    z-index: -3;
}*/
.opacity-span {
  opacity: 1;
}

.flex-photo {
  width: 35%;
}

.flex-text {
  width: 50%;
}

.background-travelstories {
  background: url(/img/backgrounds/background-footer.png) center top;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/*.background-travelstories::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 1;
    background-size: cover;
    background: url(/img/backgrounds/background-footer.png);
}*/
/*.header__promo{
    background-image: url("/img/backgrounds/background-header.png") ;
    background-image: no-repeat;
    padding: auto;
}
.travel__wrapper {
    width: 100%;
    max-width: 1440px;
    background: url('img\backgrounds\background-header.png') no-repeat top, url('img\backgrounds\background-footer.png') no-repeat bottom;
}*/
.header {
  background-position: center top;
  background-image: url("/img/backgrounds/background-header.png");
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: -65px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.promo {
  height: 675px;
  background-position: center bottom;
  background-image: url("/img/backgrounds/background-header.png");
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-top: 0px;
  color: #FFFFFF;
}

.header__color {
  height: 90px;
  background-color: #F2785C;
  opacity: 0.7;
  width: 100%;
  max-width: 1440px;
}

.promo__header {
  max-width: 892px;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.promo__p {
  padding-top: 30px;
}

.promo__input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  width: 892px;
  height: 95px;
  border: none;
}

input::placeholder {
  color: #F2785C;
  padding-left: 41px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-style: italic;
}

.promo__wrapper {
  padding-left: 120px;
}

.header-tools {
  text-align: center;
  color: #F2785C;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
}

.tool {
  padding-left: 84px;
}

.icon__square {
  display: inline-flex;
  margin: 0px 130px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #F2785C;
}

.text-steps {
  padding-left: 80px;
}

.destinations {
  align-items: center;
  position: relative;
  justify-content: center;
  overflow: hidden;
  display: flex;
  max-width: 1440px;
}

.block-rounded {
  margin-left: 30px;
}

.destination-image {
  border-radius: 16px;
}

.destination-bg {
  background: url(img஬kgrounds஬kground-footer.png);
}

.block-rounded {
  padding-top: 30px;
}

.travel-stories-content {
  color: #0D606F;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
