%font-first {
    font-family: 'Aleo', serif;
}

%font-second {font-family: 'Red Hat Text', sans-serif;

}
%transition {
    transition: 0.3s ease-out;
}
%bg-footer {
    background-image: url(/img/backgrounds/background-footer.png);
    opacity: 0.7;}