/*.header__promo{
    background-image: url("/img/backgrounds/background-header.png") ;
    background-image: no-repeat;
    padding: auto;
}
.travel__wrapper {
    width: 100%;
    max-width: 1440px;
    background: url('img\backgrounds\background-header.png') no-repeat top, url('img\backgrounds\background-footer.png') no-repeat bottom;
}*/
.header {
    
    background-position: center top;
     background-image:  url("/img/backgrounds/background-header.png") ;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-bottom: -65px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #000000;
    box-sizing: border-box;
    
}
.promo {
    height: 675px;
    background-position: center bottom;
    background-image:  url("/img/backgrounds/background-header.png") ;
    width: 100%;
    max-width: 1440px;
  margin: auto; 
    margin-top: 0px;
    color: $color-light;
}
.header__color {
    height: 90px;
   background-color: #F2785C;
    opacity: 0.7;
    width: 100%;
    max-width: 1440px;
}
.promo__header{
    
    max-width: 892px;
    
   padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.promo__p {
    padding-top: 30px;
    
}
.promo__input {
    background: rgba(255, 255, 255, 0.7);
border-radius: 16px;
width: 892px;
height: 95px;
border: none;
}
input::placeholder {
    color: $color-additional;
    padding-left: 41px;
   @extend %font-first;
    @include font-placeholder($height:29px, $style:italic, $weight:400, $size:24px);

}
.promo__wrapper {
    padding-left: 120px;
}
.opacity-2-column {
    background: rgba(255, 255, 255, 0.7);
}