.header-tools {
    text-align: center;
    color: $color-additional;
    @include font($height:53px, $size:40px, $weight:500);

    @include media-mobile {
      @include font($height:19px, $size:14px, $weight:500);
    }
}
.tool {
  padding-left: 84px;
  @include media-mobile {
    padding-left: 0px;
  }
}
.tool__icon {
  display: flex;
}
.icon__square {
  
  display: inline-flex;
  margin: 0px 130px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    align-items: center;
  justify-content: center;
    background-color: $color-additional;
    @include media-mobile {
     width: 70px;
     height: 70px;
     margin: 0px 75px 0px 0px;
    }}

   .icon__square>h4 {
    @include media-mobile {
      width: 100%;
   }}
   .text-steps
    {
      padding-left: 80px;
    @include media-mobile {
      padding-left: 0px;

    }
    }
    //destinitions
    .destinations {
     
      align-items: center;
      position: relative;
     justify-content: center;
     overflow: hidden;
     display: flex;
     max-width: $content-width;
    }
    .block-rounded {
      margin-left: 30px;
      
    }
    .destination-image {
      border-radius: 16px;
    }
    .destination-bg {
      background: url(img\backgrounds\background-footer.png);
    }
    .block-rounded {
      padding-top: 30px;
    }

    .travel-stories-content
    {
      color: #0D606F;
      opacity: 1;
    }
