.header-tools {
    text-align: center;
    color: $color-additional;
    @include font($height:53px, $size:40px, $weight:500);

    @include media-mobile; @include media-tablet {
      @include font($height:19px, $size:14px, $weight:500);
    }
}
.tool {
  padding-left: 84px;
  @include media-mobile; @include media-tablet {
    padding-left: 0px;
    margin-bottom: -10px;
  }
  @media only screen and (min-width:721px) and (max-width:1220px) {
    padding-left: 0px;
}
}
.tool__icon {
  display: flex;
  @include media-tablet {
    justify-content: space-evenly;
  }
}
.icon__square {
  
  display: inline-flex;
  margin: 0px 130px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    align-items: center;
  justify-content: center;
    background-color: $color-additional;
    @include media-mobile; @include media-tablet{
     width: 70px;
     height: 70px;
     margin: 0px 75px 0px 0px;
    }}

   .icon__square>h4 {
    @include media-mobile {
      width: 100%;
   }}
   .text-steps
    {
      padding-left: 80px;
    @include media-mobile ;@include media-tablet{
      padding-left: 0px;

    }
    }
    //destinitions
    .destinations {
     
      align-items: center;
      position: relative;
     justify-content: center;
     overflow: hidden;
     display: flex;
     max-width: $content-width;
    }
    .block-rounded {
      margin-left: 30px;
      padding-top: 30px;
      @include media-mobile {
        margin-left: 0px;
        padding-top: 0px;
      }
    }
    .destination-image {
      border-radius: 16px;
        @include media-mobile; @include media-tablet{
         // background-image: url(/img/countries/japan-small.png);
          height: 210px;
          width: 360px;
        }
      }

    .destination-bg {
      background: url(img\backgrounds\background-footer.png);
    }
    .travel-stories-img {
      @include media-mobile {
        width: 155px;
        height: 130px;
        padding-left: 15px;
      }
    }
    .travel-stories-content p {
      @include media-mobile {
        font-size: 9px;
        line-height: 11px;
        margin-left: 20px;
        padding-right: 15px;
      }
    }
    .travel-stories-content h3 {
      @include media-mobile {
        font-size: 11px;
        line-height: 13px;
        margin-left: 20px;
        margin-bottom: -5px;
      }
    }
  
    .travel-stories-content
    {
      color: #0D606F;
      opacity: 1;}
    
     
     img.arrow {
      @include media-mobile {
      
          width: 10px;
          height: 10px;
        
      }
     } 
    
