html {
    font-size: 10px;
    
}

body {
    font-size: 1.6rem;
   
    }

h1 {
    font-family: 'Aleo', serif;
    @include font($size:80px, $weight:700, $height:96px);
   /*font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;*/
}

h2{
    font-family: 'Red Hat Text', sans-serif;
    @include font($size:40px, $weight:500, $height:53px);

    /*font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;*/
}

h3{
    font-family: 'Aleo', serif;
    @include font($size:35px, $weight:400, $height:42px);
    /*font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;*/
}

h4{
    font-family: 'Aleo', serif;
    @include font($size:20px, $weight:400, $height:24px);
    /*font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;*/
}
