html {
    font-size: 10px;
    height: 100%;
    
}

body {
    font-size: 1.6rem;
   height: 100%;
    }

h1 {
    font-family: 'Aleo', serif;
    @include font($size:80px, $weight:700, $height:96px);
   /*font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;*/
}

h2{
    font-family: 'Red Hat Text', sans-serif;
    @include font($size:40px, $weight:500, $height:53px);

    /*font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;*/
}

h3{
    font-family: 'Aleo', serif;
    @include font($size:35px, $weight:400, $height:42px);
    /*font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;*/
}

h4{
    font-family: 'Aleo', serif;
    @include font($size:20px, $weight:400, $height:24px);
    /*font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;*/
    
}  
    //footer text
    .footer-central-text{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;}

    .footer-style {
        background: url(/img/backgrounds/background-footer.png) center bottom;
        display: flex;
        flex-direction: row;
       justify-content: center;
    }
