.ico {
    cursor: pointer;
    display: flex;
}
.ico_bike {
    width: 50px;
    height: 45px;
    background-image: url("/img/vectors/vector-bike.svg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    @include media-mobile{
        background-image: url("/img/vectors/bike-small.svg");
        width: 35px;
    height: 31.5px;
    }

}
.ico_calendar {
    width: 52px;
    height: 52px;
    background-image: url("/img/vectors/vector-calendar.svg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    @include media-mobile{
        background-image: url("/img/vectors/calendar-small.svg");
        width: 35px;
    height: 35px;
    }

}.ico_plane {
    width: 60px;
    height: 45px;
    background-image: url("/img/vectors/vector-plane.svg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    @include media-mobile{
        width: 40px;
    height: 30px;
        background-image: url("/img/vectors/plane-small.svg");
    }

}
.arrow {
    padding-right: 10px;
}
.ellipses {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;
align-items: center;
    justify-content: center;
    padding: 24px 0px 40px;
}
.ellipse {
    width: 20px;
height: 20px;
background: rgba(242, 120, 92, 0.5);
border-radius: 10px;
}
//picture
div#text-upperpic {
    position: relative;
}
.destination-name {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 40px;
   color: $color-light;
    
}