.layout-3-column {

       display: flex;
        align-items: center;
        
        justify-content: space-between;
    }
    .layout-2-column {
        display: grid;
        grid-template-columns: 40% 60%;
        max-width: $content-width;
       background: rgba(255, 255, 255, 0.7);
       @include media-mobile {
        max-width: none;
       }
    }
    .flex-photo {
width: 35%;
    }
    .flex-text {
width: 50%;
    }
  .opacity-07 {
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 40px;
  }
